DEBUG=False
ALLOWED_HOSTS=["centinela.epn.edu.ec","localhost","127.0.0.1"]
PROJECT_NAME=Centinela Predictivo de Publicaciones Cientificas
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["https://centinela.epn.edu.ec"]
